.hg_world_bg{
    background-image:url("img/hg_world.svg");
    width:100%;
    height: 481px;
    margin-bottom:596px;
}

.hg_num_bg{
    background-image:url("img/hg_768.svg");
    width:100%;
    height: 481px;
    margin-bottom:596px;
}

.hg_picture_together{
    margin-bottom:1226px;
    width:100%;
    height:481px;

}

.hg_picture_child{
    
    position:absolute;
}

.hg_footer{
    background-color: #0D6EFD;
    margin-bottom:0px;
    width:100%;
    height:596px;
    color:white;
}

.hg_footer>ul>li{
    text-align: left;
    font: normal normal normal 16px/36px Inter;
    color: #FFFFFF;
}

.hg_footer_explain{
    font: normal normal medium 16px/17px Inter;
    color: #FFFFFF;
}



